<h1>編集画面</h1>
<!-- form_with はインスタンス変数内のモデルを解読、代入する-->
<%= form_with model: @list, url: update_list_path(@list.id), method: :patch do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>本文</h4>
  <%= f.text_area :body %>

  <%= f.submit "保存", "data-confirm" => "変更を保存しますか？" %>

<% end %>

<p><%= link_to "トップ", "/top" %></p>
<p><%= link_to "投稿一覧", "/lists#index" %></p>